@media (max-width:500px){
    
.logotipoEstudio{
        width: 50px;
    }

    .headerInicio{
    
       background-size: unset;
        height: 22rem;
}        
.carrousel{
    padding-left: 0;
   }
.textoInicio{
    width: 300px;
    height: 270px;

}

.textoAreas{
    width: 300px;
    height: 270px;
}

.contenedorSuperior nav ul li{
    font-weight: 800;
    padding: 1px;
    
}
.tarjetaPablo{
    width: 280px;
   
}

.tarjetaMaria{
    width: 280px;
  
}
.colorPablo{
    width: 19rem;
    

}

.colorMaria{
    width: 19rem;
}
}