
%Background{
    width: 26rem;
    border-radius: 0.5rem; 
}

%FormaTarjeta{
    width: 400px;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.bodyQuienes{
    background-image: url(/Img/asd.jpg);
    background-size: cover;
}

.colorPablo{
    
    margin-left: 40;
    background-color: rgb(128, 128, 128);
    @extend %Background;
    
    
  
}

.colorMaria{
    background-color: rgb(199, 199, 199);
   @extend %Background;
    

}

.tarjetaPablo{ 
    
    background-color: unset;
    @extend %FormaTarjeta; 
}

.tarjetaMaria{
    background-color:unset;
    @extend %FormaTarjeta;
}

.bodyQuienes{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.colorPablo{
    padding-left: 10%;
}
